h1,
h2 {
    font-family: impact, charcoal, sans-serif;
    text-align: center;
}
.nav,
.navbar-brand {
    font-family: impact, charcoal, sans-serif;
    font-size: 1em;
}
.navbar {
    letter-spacing: .1em;
}
#contact {
    padding-bottom: 20.0em;
}
.content-section {
    /*padding-top: 1.0em;*/
}
@media(min-width:767px) {
    .content-section {
        padding-top: 5.0em;
    }

    .download-section {
        padding: 100px 0;
    }
}
.intro {
    text-align: left;
}
.intro .intro-body .brand-heading {
    font-size: 4em;
}

.intro .intro-body .intro-text {
    font-size: 1.8em;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 10em;
    }

    .intro .intro-body .intro-text {
        font-size: 2.5em;
    }
}
mark {
  background: #ff0;
  color: #000;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
fieldset {
  border: 1px solid #c0c0c0;
}
html {
  background-color: #002b36;
  color: #839496;
}
body {
    font-family: Georgia, serif;
    font-size: 2em;
  padding-top: 0em;
  background-color: #002b36;
  color: #839496;
}
code {
  background-color: #073642;
}
h1 {
  color: #268bd2;
}
h2,
h3,
h4,
h5,
h6 {
  color: #859900;
}
pre {
  background-color: #002b36;
  color: #839496;
  box-shadow: 5pt 5pt 8pt #073642;
}
pre code {
  background-color: #002b36;
}
.tag {
  background-color: #073642;
  color: #d33682;
}
.todo,
.next,
.done {
  color: #002b36;
  background-color: #dc322f;
}
.TODO {
  background-color: #2aa198;
}
.NEXT {
  background-color: #268bd2;
}
.ACTIVE {
  background-color: #268bd2;
}
.DONE {
  background-color: #859900;
}
.WAITING {
  background-color: #cb4b16;
}
.HOLD {
  background-color: #d33682;
}
.NOTE {
  background-color: #d33682;
}
.CANCELLED {
  background-color: #859900;
}
