body, 
section li {
font-size: 1.4em;
}
h2 {
    text-align: center;
}
#contact {
    padding-bottom: 20.0em;
}
.content-section {
    padding-top: 1.0em;
}
@media(min-width:767px) {
    .content-section {
        padding-top: 5.0em;
    }

    .download-section {
        padding: 100px 0;
    }
}
.intro {
    background: none;
    text-align: left;
}
.intro .intro-body .brand-heading {
    font-size: 4em;
}

.intro .intro-body .intro-text {
    font-size: 1.8em;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 10em;
    }

    .intro .intro-body .intro-text {
        font-size: 2.5em;
    }
}
mark {
  background: #ff0;
  color: #000;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
fieldset {
  border: 1px solid #c0c0c0;
}
html {
  background-color: #002b36;
  color: #839496;
}
body {
  padding-top: 5em;
  background-color: #002b36;
}
code {
  background-color: #073642;
}
a {
  color: #b58900;
}
a:visited {
  color: #cb4b16;
}
a:hover {
  color: #cb4b16;
}
h1 {
  color: #268bd2;
}
h2,
h3,
h4,
h5,
h6 {
  color: #859900;
}
pre {
  background-color: #002b36;
  color: #839496;
  box-shadow: 5pt 5pt 8pt #073642;
}
pre code {
  background-color: #002b36;
}
.tag {
  background-color: #073642;
  color: #d33682;
}
.todo,
.next,
.done {
  color: #002b36;
  background-color: #dc322f;
}
.TODO {
  background-color: #2aa198;
}
.NEXT {
  background-color: #268bd2;
}
.ACTIVE {
  background-color: #268bd2;
}
.DONE {
  background-color: #859900;
}
.WAITING {
  background-color: #cb4b16;
}
.HOLD {
  background-color: #d33682;
}
.NOTE {
  background-color: #d33682;
}
.CANCELLED {
  background-color: #859900;
}
