    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Steen Hulthin Rasmussen's piece of the web. About a little boy who became an environmental engineer and then GIS dude and software developer. " />
    <meta name="keywords" content="GIS software development spatial data analysis">
    <meta name="author" content="https://plus.google.com/+SteenHulthinRasmussen">
    <meta name="copyright" content="2014 (c) Steen Hulthin Rasmussen - MIT license (http://opensource.org/licenses/mit-license)">
    <title> {{ page.title }} </title>