<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<link href="//steenhulthin.github.io/css/grayscale.css" rel="stylesheet">

<link href="//steenhulthin.github.io/css/bootstrap.min.css" rel="stylesheet" />

<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">-->

<!--<link href="css/grayscale.css" rel="stylesheet">-->
<!--<link href="http://thomasf.github.io/solarized-css/solarized-dark.min.css" rel="stylesheet">-->
<link href="//steenhulthin.github.io/css/steenhulthin.github.io.css" rel="stylesheet">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
