<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
<link href="//steen.hulthin.dk/css/grayscale.css" rel="stylesheet">

<link href="//steen.hulthin.dk/css/bootstrap.min.css" rel="stylesheet" />

<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet">-->

<!--<link href="css/grayscale.css" rel="stylesheet">-->
<!--<link href="http://thomasf.github.io/solarized-css/solarized-dark.min.css" rel="stylesheet">-->
<link href="//steen.hulthin.dk/css/steen.hulthin.dk.css" rel="stylesheet">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
