<!DOCTYPE html>
<html lang=en>
<head>
    {% include headcontent.htm %}
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="danger"> Hi, I'm </span><span class="success"> Steen Hulthin</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#the-worst-best-of-me">The best/worst of me</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#what-have-i-done-all-life">Things I've done</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#community">Community</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>Steen Hulthin Rasmussen</h1>

                        <p>I'm a software developer and/or <a href="http://en.wikipedia.org/wiki/Geographic_information_system">GIS</a> dude. My main expertise is working with digital map, spatial data and GIS products at all levels of the technology stack. </p>

                        <p>In my work life I'm the CEO/code monkey/Key Account Manager of <a href="http://percipio.dk">Percipio</a>. I have standard <a href="https://dl.dropboxusercontent.com/u/211064/percipio/CV/cv_steen_hulthin_rasmussen.pdf">CV available for download</a> with a standard resume of some of the things I have done professionally even though I'm not a big fan of standard CVs. </p>

                        <p><a href="http://en.wikipedia.org/wiki/Copenhagen">Copenhagen, Denmark</a> is my home town. I live there together with my girlfriend and between 1 and 3 children. I really enjoy running, biking and chocolate. I love life.</p>

                        <p>I'm also a failed chess and guitar player, a <a href="http://en.wikipedia.org/wiki/Danes">Dane</a> (and actually <a href="http://en.wikipedia.org/wiki/Swedes">half-swedish</a>, thanks to Mom), around 40 (thanks to Mom and Dad), bald (thanks to Dad) and a <a href="http://en.wikipedia.org/wiki/Chocoholic">chocolate lover</a> (did I mention that already?). </p>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="the-worst-best-of-me" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>The worst/best of me</h2>

                    <p>These are the things I hate most about myself</p>

                    <ul>
                        <li>The perpetual biting of nails! Stop it!</li>
                        <li>That I start 10 code projects and only ship 1. Can You please just finish half?!</li>
                        <li>That I can so rarely start anything without first procrastinating.</li>
                    </ul>
                    <br/>
                    <p>These are the things I love most about myself: </p>

                    <ul>
                        <li>I'm so incredibly lucky. Not in games and such, but where it really matters: I have never had to starve, never seen a war, I'm healthy and so are my children, I can afford all I really need and I'm a white European male and I even had good childhood and great parents.</li>
                        <li>I love that I can make people smile and I don't really care if I'm smiled at or with.</li>
                        <li>That I still what to improve and what to learn new things even as a semi-old person as much as I did when I was younger. </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="what-have-i-done-all-life" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <h2>What I have done</h2>

                    <ul>
                        <li>Won the Nordic championship in chess for school teams.</li>
                        <li>Qualified for the Nordic championship for High school teams.</li>
                        <li>Run a marathon.</li>
                        <li>Worked as foreign student helper at DTU. </li>
                        <li>Lived in Thailand for half a year - twice.</li>
                        <li>Graduated as an Environmental Engineer.</li>
                        <li><a href="http://steen.hulthin.dk/blog/the-programmer-or-there-and-never-back-again/">By coincidence become a (untrained) Software Developer</a>.</li>
                        <li>Run half marathon world championship race more than twice as slow as the winner.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="community" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Community</h2>

                    <p>I feel a part of the global software development community. In my opinion you are a member of a community even if you only "consuming" and not contributing in the a more traditional way. I have presented at a couple of occasions and I regularly contribute. </p>

                    <p>I attend conferences regularly. I have been attending <a href="http://oredev.org">Oredev</a> every year since 2011, <a href="http://leetspeak.se">Leetspeak</a> since it's start in 2012 and Danish Developer Conference since 2013.</p>

                    <p>When I have time you can find my at user group meetings, often at <a href="http://copenhagenjs.dk/">Copenhagen js</a> and <a href="https://plus.google.com/113724797202166933848/about">Google Developer Group Copenhagen</a></p>

                </div>
            </div>
        </div>

    </section>
    <section id="projects" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects</h2>

                    <p>I maintain a few <a href="http://opensource.com/resources/what-open-source">Open Source Software</a> projects:</p>

                    <p>In the serious catagory are: </p>

                    <ul>
                        <li><a href="http://steenhulthin.github.io/MapBasicUnit/">MapBasicUnit</a> - A unit testing library for the MapBasic language. <a href="http://www.mapinfo.com/product/mapinfo-mapbasic/">MapBasic</a> is a language for the desktop GIS <a href="http://www.mapinfo.com/">MapInfo</a>.</li>
                        <li><a href="http://steenhulthin.github.io/reStructuredText_NPP/">reStructuredText_NPP</a> - Syntax highlighting for <a href="http://en.wikipedia.org/wiki/ReStructuredText">reStructuredText</a> for <a href="http://notepad-plus-plus.org/">Notepad++</a>.</li>
                        <li><a href="http://steenhulthin.github.io/freemarker_NPP/">FreeMarker_NPP</a> - Syntax highlighting for the template language <a href="http://en.wikipedia.org/wiki/ReStructuredText">FreeMarker</a> for <a href="http://notepad-plus-plus.org/">Notepad++</a>.</li>
                    </ul>
                    <br/>
                    <p>In the mostly for fun category are:</p>

                    <ul>
                        <li><a href="http://anti-region-legion.org">The Anti Region Legion</a> - a coding style movement for a better <code>C#</code> world. </li>
                        <li><a href="http://steenhulthin.github.io/LOLCODE_NPP/">LOLCODE_NPP</a> - Syntax highlighting for <a href="http://en.wikipedia.org/wiki/LOLCODE">LOLCODE</a> for <a href="http://notepad-plus-plus.org/">Notepad++</a>.</li>
                        <li><a href="https://github.com/steenhulthin/CollatzConjecture.Net">CollatzConjecture.Net</a> - a .net library for calculating solutions to <a href="http://en.wikipedia.org/wiki/Collatz_conjecture">Collatz Conjecture</a> problems. </li>
                    </ul>

                    <p>Besides writing code I also write blog posts. The topic is mostly technical stuff related to software development and/or GIS, but occasionally also about management and team work. You can find my blog on <a href="http://steen.hulthin.dk/blog/">http://steen.hulthin.dk/blog/</a>.</p>

                </div>
            </div>
        </div>

    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me</h2>
                <p>Feel free to contact me.</p>
                <p>
                    <a href="mailto:&#115;&#116;&#101;&#101;&#110;&#064;&#104;&#117;&#108;&#116;&#104;&#105;&#110;&#046;&#100;&#107;">&#115;&#116;&#101;&#101;&#110;&#064;&#104;&#117;&#108;&#116;&#104;&#105;&#110;&#046;&#100;&#107;</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/steenhulthin" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/steenhulthin" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+SteenHulthinRasmussen" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    {% include footer.htm %}
</body>
</html>