<!DOCTYPE html>
<html lang=en>
<head>
    {% include headcontent.htm %}
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="danger"> Hi, I'm </span><span class="success"> Steen Hulthin</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Download</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="panel-heading">Steen Hulthin Rasmussen</h1>
                        <p class="intro-text">I'm a software developer and/or <a href="http://en.wikipedia.org/wiki/Geographic_information_system">GIS</a> dude.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Projects</h2>
                <p>I maintain a few Open Source projects: </p>
                <p>I maintain a few <a href="http://opensource.com/resources/what-open-source">Open Source Software</a> projects: </p>
                <p>
                    <ul>
                        <li><a href="http://steenhulthin.github.io/MapBasicUnit/">MapBasicUnit</a> - A unit testing library for the MapBasic language. <a href="http://www.mapinfo.com/product/mapinfo-mapbasic/">MapBasic</a> is a language for the desktop GIS <a href="http://www.mapinfo.com/">MapInfo</a>.</li>
                        <li><a href="http://steenhulthin.github.io/reStructuredText_NPP/">reStructuredText_NPP</a> - Syntax highlighting for <a href="http://en.wikipedia.org/wiki/ReStructuredText">reStructuredText</a> for <a href="http://notepad-plus-plus.org/">Notepad++</a>.</li>
                        <li><a href="http://steenhulthin.github.io/freemarker_NPP/">FreeMarker_NPP</a> - Syntax highlighting for the template language <a href="http://en.wikipedia.org/wiki/ReStructuredText">FreeMarker</a> for <a href="http://notepad-plus-plus.org/">Notepad++</a>.</li>
                    </ul>
                </p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>For fun projects</h2>
                    <p>I also maintain some open source project that are less serious.</p>
                    <p>
                        <ul>
                            <li><a href="http://anti-region-legion.org">The Anti Region Legion</a> - a coding style movement for a better <code>C#</code> world. </li>
                            <li><a href="http://steenhulthin.github.io/LOLCODE_NPP/">LOLCODE_NPP</a> - Syntax highlighting for <a href="http://en.wikipedia.org/wiki/LOLCODE">LOLCODE</a> for <a href="http://notepad-plus-plus.org/">Notepad++</a>.</li>
                            <li><a href="https://github.com/steenhulthin/CollatzConjecture.Net">CollatzConjecture.Net</a> - a .net library for calculating solutions to <a href="http://en.wikipedia.org/wiki/Collatz_conjecture">Collatz Conjecture</a> problems. </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="download" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <h2>What I have done</h2>

                    <ul>
                        <li>Won the Nordic championship in chess for school teams.</li>
                        <li>Qualified for the Nordic championship for High school teams.</li>
                        <li>Run a marathon.</li>
                        <li>Worked as foreign student helper at DTU. </li>
                        <li>Lived in Thailand for half a year - twice.</li>
                        <li>Graduated as an Environmental Engineer.</li>
                        <li><a href="http://steen.hulthin.dk/blog/the-programmer-or-there-and-never-back-again/">By coincidence become a (untrained) Software Developer</a>.</li>
                        <li>Run half marathon world championship race more than twice as slow as the winner.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Start Bootstrap</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p>
                    <a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {{ content }}
            </div>
        </div>
    </section>
    {% include footer.htm %}
</body>
</html>